<left>
    <br>
    <br>
    <b> Last Updated </b> <br>
    <i>
        <font color=orange>{{ now.Format "02-01-2006" }}</font>
    </i>
</left>
<left>
    <br>
    <br>
    <b> Team </b> <br>
    <i>
        <a href="https://www.linkedin.com/in/quan-dang-hoang-4b5b7632b/" style="color:orange">Hoang Quan</a>
    </i>
      <i>
        <a href="https://www.linkedin.com/in/nguyenthixuantruc//" style="color:orange">Xuan Truc</a>
    </i>
</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>